<div class="comments grid gap-4">
  {{#each this}}
    <div class="card border border-tertiary rounded-lg">
        <h3 class="card-header text-xl font-semibold bg-primary p-2">{{user.username}}</h3>
        <section class="comment card-body p-4">
            <div class="text text-tertiary">
                {{comment_text}}
            </div>
            <div class="meta text-sm text-dark mt-2">
                - {{user.username}}, {{format_date created_at}}
            </div>
        </section>
    </div>
  {{/each}}
</div>