<div class="card border border-tertiary rounded-lg">
    <div class="card-header bg-primary p-4">
        <h4><a href="/dashboard/edit/{{id}}" class="text-secondary hover:underline">{{title}}</a></h4>
    </div>
</div>