<div class="card border border-tertiary rounded-lg">
    <h3 class="card-header bg-primary text-secondary">Login</h3>
    <form id="login-form" class="card-body">
        <label class="form-label text-tertiary" for="username-login">Username</label>
        <input id="username-login" type="text" autofocus="true" class="form-input border border-secondary" />

        <label class="form-label text-tertiary" for="password-login">Password</label>
        <input id="password-login" type="password" autofocus="true" class="form-input border border-secondary" />

        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 btn bg-secondary hover:bg-dark text-primary">Login</button>

        <a class="login-link text-tertiary" href="/signup">Sign up here</a>
    </form>
</div>

<script src="/javascript/login.js"></script>