<div class="card border border-tertiary rounded-lg">
    <h3 class="card-header bg-primary text-secondary">Sign Up</h3>
    <form id="signup-form" class="card-body">
        <label for="username-signup" class="form-label text-tertiary">Username</label>
        <input id="username-signup" type="text" class="form-input border border-secondary" />

        <label class="form-label text-tertiary" for="password-signup">Password</label>
        <input id="password-signup" type="password" class="form-input border border-secondary" />

        <button type="submit" class="btn bg-secondary hover:bg-dark text-primary  bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700">Signup!</button>
        <a class="login-link text-tertiary" href="/login">Log in here</a>
    </form>
</div>

<script src="/javascript/signup.js"></script>