@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary: #dcf2f1;
  --secondary: #7fc7d9;
  --tertiary: #365486;
  --light-dark: #0f1035;
  --dark: #201110;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 24px;
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}
.container {
  max-width: 1120px !important;
  margin: auto !important;
}

nav a {
  color: var(--dark) !important;
  padding: 2px;
}
nav .items-center {
  justify-content: flex-end;
  gap: 20px;
}
.main-nav {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main-nav a:hover {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 2px;
}
.link-color {
  color: var(--tertiary);
  padding: 10px;
  margin: 10px;
}

main {
  margin: 20px auto;
  width: 94%;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.2rem;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: white;
  border: none;
  outline: none;
  background-color: var(--light-dark);
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.btn-back:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

.hero p {
  max-width: 75%;
}
.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-title {
  font-size: 3rem;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
}

.list-group {
  padding: 0;
  list-style: none;
}

.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: var(--border-radius);
  background-color: var(--light-dark);
  color: var(--primary);
  text-decoration: none;
}

.list-item:hover {
  background-color: var(--dark);
}

.status-icon {
  padding: 2px 5px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: var(--border-radius);
}

.icon-danger {
  color: rgb(255, 70, 70);
}

.icon-success {
  color: rgb(29, 153, 255);
}
/* CARDS */

.card {
  margin: 0 0 20px 0;
  border-radius: var(--border-radius);
}

.card-header {
  background-color: aliceblue;
  padding: 1%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 1%;
}

h4 {
  font-weight: 700;
  margin: 0;
  color: var(--light-dark);
  line-height: 1.25;
}

nav .link {
  color: #fff;
}

.login-link {
  color: var(--dark);
}

.nav {
  padding: 10px;
  line-height: 1.25;
  float: top;
}

.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

/* button */
.read-button {
  font-size: 15px;
  padding: 10px 15px;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
}

.read-button:hover {
  background: rgb(2, 0, 36);
}

.read-button:active {
  transform: translate(0em, 0.2em);
}

@media screen and (max-width: 1200px) {
  body {
    padding: 0 20px;
  }
}
@media screen and(min-width:1400px) {
  .container {
    max-width: 1120px !important;
    margin: auto;
  }
}

@media screen and(min-width:1536px) {
  .container {
    max-width: 1120px !important;
    margin: auto;
  }
}